img{
    height: 60px;
    width: 60px;
}
.navbar{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
.list{
    display: flex;                          
    height: 30px; 
    width: 80vw;
    line-height: 20px;
    /*background-color: #eee;*/
}

.list * {
    display: inline-flex;
}  

.list ul {
    padding: 0px;
}

.list li {
    margin-left: 20px;
}

td{
    color: gray;
}